
body {
    background: url(../images/nattysingh-bg-purple.png)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #111111;
    font-family: "Courier","Helvetica Neue",Helvetica,Arial,sans-serif;
}
